.jumbotron{
    background-color:lightblue
}

.navbar{
    background-color: darkcyan;
    text-decoration-color:black ;
}

#bg-img{
background-image: url(https://aboutme.imgix.net/background/alexbelyakov_1331935331_55.jpg?q=80&dpr=1&auto=format&fit=max&w=1200&h=630&rect=0,157,1400,735);


    }

    #personalIcons{
        margin: 3%;
        text-align: center;
        margin-bottom: auto;
      } 


#contactform{
    margin-top: 7%;

}

#submit {
    color: white;
}

#row2{
margin-top: 8%;
}

.card-body{
background-color: blanchedalmond;
}

#aboutmetext{
   font-size: 130%
}

.lead1{
    font-size: 2rem;
}

#h1 {
    font-size: 4rem;
}

#jumP {
font-size: 3rem;
}

#aboutmetext {
    font-size: 1.8rem;
    font-weight: 600;
}