.jumbotron{
    background-color:lightblue
}

.navbar{
    background-color: darkcyan;
    text-decoration-color:black ;
}

#personalIcons{
  margin: 3%;
  text-align: center;
  margin-bottom: auto;
} 

#profilepictext{
  margin: 15%   
}



/* #homepic{
margin: 3%;
max-height: 4%;
max-width: auto;

text-align: center;
} */
/* .responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
  } */

/* .img-thumbnail {
    margin-left: 18%;
} */